@font-face {
    font-family: 'Silk Serif';
    src: url('SilkSerif-Regular.woff2') format('woff2'),
        url('SilkSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

